#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 150px, 250px;
  grid-gap: 10px;
  margin: 15px;
}

.grid-cell {
  background-color: lightslategrey;
  outline: 3px black solid;
}

#header {
  grid-column-start: 1;
  grid-column-end: last;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 60px;
}


#item_1 {
  grid-column-start: 1;
  grid-column-end: 5;
}

#item_2 {
  grid-column-start: 5;
  grid-column-end: 9;
}

#item_3 {
  grid-column-start: 9;
  grid-column-end: last;
}

#resultListCell {
  grid-column-start: 1;
  grid-column-end: 6;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  padding: 35px;
  text-align: justify;
}

#barChart {
  grid-column-start: 7;
  grid-column-end: last;
}

.product { 
  width: auto;
  height: 300px;
}

.product-cell {
  background-color: lightslategrey;
  outline: 3px black solid;
  text-align: center;
}

#resultsList {
  list-style-type: decimal;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
}

h3 {
  font-size: 45px;
  text-align: center;
  padding: 15px;
}