#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px, 250px;
  grid-gap: 10px;
  margin: 15px;
}

.gridCell {
  background-color: lightslategrey;
  outline: 3px black solid;
  text-align: center;
}

#header {
  grid-column-start: 1;
  grid-column-end: last;
  text-align: center;
}

#item_1 {
  grid-column-start: 1;
  grid-column-end: 5;
}

#item_2 {
  grid-column-start: 5;
  grid-column-end: 9;
}

#item_3 {
  grid-column-start: 9;
  grid-column-end: last;
}

#resultList {
  grid-column-start: 4;
  grid-column-end: 10;
}

.product {
  width: auto;
  height: 100%;
}

.productCell {
  background-color: lightslategrey;
  outline: 3px black solid;
  text-align: center;
}

#orderedResultList {
  margin-left: 25px;
  list-style-type: decimal;
  text-align: left;

}