#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 150px, 250px;
  grid-gap: 10px;
  margin: 15px;
}

.grid-cell {
  background-color: lightslategrey;
  outline: 3px black solid;
}

#header {
  grid-column-start: 1;
  grid-column-end: last;
  text-align: center;
}

#item_1 {
  grid-column-start: 1;
  grid-column-end: 5;
}

#item_2 {
  grid-column-start: 5;
  grid-column-end: 9;
}

#item_3 {
  grid-column-start: 9;
  grid-column-end: last;
}

#resultListCell {
  grid-column-start: 1;
  grid-column-end: 6;
}

#barChart {
  grid-column-start: 7;
  grid-column-end: last;
}

.product { 
  width: auto;
  height: 300px;
}

.product-cell {
  background-color: lightslategrey;
  outline: 3px black solid;
  text-align: center;
}

#resultsList {
  margin-left: 35px;
  list-style-type: decimal;
  text-align: left;
}

